@media screen and (max-width: 400px) {
	banner {
		display: none;
	}
	header {
		height: 80px;
	}

	.acchive_container_main {
		height: auto;
		flex-direction: column;
		align-items: center;
	}

	.acchive_container,
	.videoArchive_conrainer {
		width: 100%;
		height: auto;
	}
	.sale_email form {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.big_footer {
		display: none;
	}
	footer {
		height: 60px;
	}
}
