@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat&family=Raleway:wght@400;500;600;700&display=swap");

* {
	font-family: "Lato", sans-serif;
	font-family: "Montserrat", sans-serif;
	font-family: "Raleway", sans-serif;
}
